body{
    background-color: #151515;
}

.slider img{ 
    height: 100%;
    margin: auto;
    display: block;
}

h1{
    text-align: center;
    color: antiquewhite;
    margin-top: 3rem;
}

button{
    background-color: rgba(255, 255, 255, 0.476);
    border-radius: 5px;
    width: 35px;
}

button[class^="btn_up"] > img{
    transform: rotate(180deg);
}

.slider{
    width: 70%;
    height: 300px;
    position: relative;  
    margin-top: 3rem ;
}

.slider2{
    height: 400px;
    width: 80%;
    margin: auto;
}


.img_container{
    width: 100%;
    height: 100%;
}

button[class^="btn_up"]{
    z-index: 20;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
}
button[class^="btn_down"]{
    z-index: 20;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}

.ims_container > div{
}

.mycol-5{
    height: calc(400px /5);
    overflow: hidden;
    position: relative;
}

.mycol-5 img{
    position: absolute;
    z-index: -1;
}

.img-80{
    top: -80px;
}


